h1{
    color:rgb(126, 203, 247);
    background-color: rgba(221, 160, 221, 0.34);
}
h2,p.x{
    border:1px 
}
a:link{
    color:mediumaquamarine;
}
a:visited{
    color:lightpink;
}
strong{
    color:rgb(58, 58, 58);
    border-bottom:thick double rgb(229, 169, 189);
}
h3.main{
    color:aquamarine;
}
p.em{
    border:0.4em double gray;
    background-color:rgba(211, 211, 211, 0.326);
    padding:0.5em;
    padding-right:1em;
    color:darkolivegreen;
}